/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-background);
    max-width: 70vw;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5vh;
    border-radius: var(--container-border-radius);
    border: 5px solid rgb(150, 73, 73);
  }
  
  #product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
  }